body {
  font-family:"Avenir Next", arial,sans-serif;
}

#header {
  border-bottom: 3px solid #fff;
}

#masthead-title {
  font-size: 28px;
  font-weight: bold;
  color: #016fc4;
}

#search_filtered .jd-selected {
  background-color: #016FC4;
}

th {
  background-color: #016fc4;
  color: #fff;
}

.jd-tagtable th {
  color: #000;
}

td {
  border: 0px;
  padding: 6px 12px;
  text-align: left;
  vertical-align: top;
  background-color: inherit;
}

#jd-header {
  background-color: #fff;
}

.selected {
  background-color: white;
  font-weight: bold;
}

#side-nav {
   text-color: #2C4B89;
   background-color: #fff;
}

#side-nav .selected {
   text-decoration: none;
   color: #2C4B89;
   font-weight: bold;
   background-color: #fff;
}

#side-nav .selected a {
   color: #2C4B89;
}

#side-nav a {
   text-decoration: none;
   color: #2C4B89;
}

.ui-resizable-e {
  cursor: e-resize;
  width: 6px;
  right: 0px;
  top: 0px;
  height: 100%;
   background: transparent;
  border-right: 1px solid #e4e4e4;
}


.ui-resizable-s {
  cursor: s-resize;
  height: 6px;
  width: 100%;
  bottom: 0px;
  left: 0px;
  background: transparent;
  border-bottom: 1px solid #e4e4e4;
}